/* Estilo do mod Bookmark */
.fav-username a {
  color: #00f0ff;
  text-decoration: none;
  font-weight: bold;
}

.fav-username a:hover {
  text-decoration: underline;
}

.share-btn {
  margin-left: 10px;
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  background: #00f0ff;
  color: #121212;
  cursor: pointer;
}

.share-btn:hover {
  background: #00c0ff;
}
